<div class="row">
  <div class="col l4 s12">
    <!-- PROGRESS bar -->
    <div *ngIf="progressBar" class="determinate progress" role="progressbar"
         attr.aria-valuenow="{{progress.percentage}}"
         aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: progress.percentage+'%'}">
      {{progress.percentage}}%
    </div>

    <!-- FACULTY selection -->
    <div class="input-field" browser-default>
      <select [(ngModel)]="selectedFaculty" (ngModelChange)="getSubjectsByFaculty($event)"
              id="faculty" name="faculty" materialize="material_select" [materializeSelectOptions]="faculties">>
        <option [value]="" disabled selected>Pasirinkite fakultetą</option>
        <option [value]="faculty" *ngFor="let faculty of faculties">{{faculty}}</option>
      </select>
      <label>FAKULTETAS</label>
    </div>

    <!--SUBJECT selection-->
    <div class="input-field">
      <select [(ngModel)]="selectedSubject" id="subject" name="subject" materialize="material_select">
        <option [value] disabled selected>Pasirinkite studijų dalyką</option>
        <option [value]="subject" *ngFor="let subject of subjectsBySelectedFaculty">{{subject}}</option>
      </select>
      <label>STUDIJŲ DALYKAS</label>
    </div>

    <!-- FILE upload buttons -->
    <form action="#">
      <div class="file-field input-field">
        <button class="waves-effect waves-light btn col s8 offset-s2" [disabled]="!selectedSubject"
                (click)='showFiles(true,selectedSubject)'>Užkrauti failus
        </button>
        <button class="btn col s8 offset-s2" *ngIf="!uploadButtonShow" [disabled]="!selectedSubject"
                (click)="uploadButtonShowSwitch()">Įkelti failą
        </button>
        <div *ngIf="uploadButtonShow">
          <div class="waves-effect waves-light btn col s6">
            <span>Pasirinkite failą</span>
            <input type="file" (change)="selectFile($event)">
          </div>
          <button class="waves-effect waves-light btn col s6" [disabled]="!selectedFiles"
                  (click)="uploadFile(selectedFaculty,selectedSubject)">Įkelti
          </button>
          <div class="file-path-wrapper">
            <input class="file-path validate col s12" type="text">
          </div>
        </div>
      </div>
    </form>
  </div>


  <!-- FILE SEARCH -->
  <div class="row">
    <div class="col s12 l8">

      <!-- FILE LIST -->
      <div [hidden]="!showFile">
        <div class="sm-jumbotron center"><h2>Failų sąrašas</h2></div>
        <!-- SEARCH -->
        <div class="row">
          <div class="col s12 m8 offset-m2">
            <div class="input-field col s10">
              <i class="material-icons prefix">search</i>
              <input id="icon_prefix" type="text" [(ngModel)]="term">
              <label for="icon_prefix">Paieškos raktažodis</label>
            </div>
            <div class="input-field col s1">
              <a class="waves-effect waves-light btn-floating"><i class="material-icons" (click)="term=''">clear</i></a>
            </div>
          </div>
        </div>
        <!-- SEARCH -->
        <ul class="collection">
          <div class="col s12 border-custom" *ngFor="let file of fileUploads | async |filter:term">
            <div class="divider"></div>
            <i class="secondary-content waves-effect waves-light material-icons right"
               (click)="deleteFile(file.fileName)">delete</i>
            <a href="/file/get/{{file.fileName}}" download="{{file.fileName}}"
               class="waves-effect waves-light center collection-item">
              <p class="secondary-content left">{{file.fileName}}</p>
              <p class="secondary-content  card">{{file.userName}} {{file.timeStamp}}</p>
            </a>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
