<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="sm-jumbotron center">
        <h3>Vartotojo registracija</h3>
      </div>
      <form class="white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
        <div class="row">
          <div class="input-field col s6 l3 push-l3">
            <input class="validate" type="text" name="userName" autocomplete="username" #userName="ngModel"
                   [(ngModel)]="user.userName" required>
            <label data-error="Privalomas laukelis!">Slapyvardis</label>
          </div>
          <div class="input-field col s6 l3 push-l3">
            <input class="validate" type="password" name="password" autocomplete="current-password" #password="ngModel"
                   [(ngModel)]="user.password" required minlength="3">
            <label data-error="Slaptažodį minimaliai turi sudaryti 3 simboliai">Slaptažodis</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 l3 push-l3">
            <input class="validate" type="text" name="email" autocomplete="email" #email="ngModel"
            [(ngModel)]="user.email" [pattern]="emailPattern" required>
            <label data-error="Netinkamas elektroninio pašto adresas">Elektroninio pašto adresas</label>
          </div>
          <div class="input-field col s6 l3 push-l3">
            <select [(ngModel)]="user.university" (ngModelChange)="loadUniversities($event)"
                    id="university" name="university" materialize="material_select" [materializeSelectOptions]="universities">>
              <option [value]="" disabled selected>Pasirinkite aukštąją mokyklą</option>
              <option [value]="university" *ngFor="let university of universities">{{university}}</option>
            </select>
            <label>Aukštoji mokykla</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 l3 push-l3">
            <input class="validate" type="text" name="firstName" autocomplete="given-name" #firstName="ngModel"
                   [(ngModel)]="user.firstName" required>
            <label data-error="Privalomas laukelis!" data-error="Privalomas laukelis!">Vardas</label>
          </div>
          <div class="input-field col s6 l3 push-l3">
            <input class="validate" type="text" name="lastName" autocomplete="family-name" #lastName="ngModel"
                   [(ngModel)]="user.lastName" required>
            <label data-error="Privalomas laukelis!">Pavardė</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l6 push-l3">
            <button [disabled]="!userRegistrationForm.valid" class="waves-effect waves-light btn-large btn-submit"
                    type="submit">Registruotis
            </button>
          </div>
        </div>
        <div class="helper center"><a class="chip" routerLink="/prisijungimas">Atšaukti</a></div>
      </form>
    </div>
  </div>
</div>
