<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="sm-jumbotron center">
        <h3>Vartotojo prisijungimas</h3>
      </div>
      <form class="col s12" #userLoginForm="ngForm" (ngSubmit)="OnSubmit(userLoginForm)">
        <div class="row">
          <div class="input-field col s10 offset-s1 m4 offset-m4">
            <input class="validate" type="text" name="userName" autocomplete="username" #userName="ngModel" [(ngModel)]="user.userName"  required>
            <label data-error="Prašome įvesti tinkamą slapyvardį">Slapyvardis</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s10 offset-s1 m4 offset-m4">
            <input class="validate" type="password" name="password" autocomplete="current-password" #firstName="ngModel" [(ngModel)]="user.password" required>
            <label data-error="Prašome įvesti tinkamą slaptažodį">Slaptažodis</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6 offset-m3">
              <button [disabled]="!userLoginForm.valid" class="waves-effect waves-light btn-large btn-submit" type="submit">Prisijungti</button>
            </div>
        </div>
	<div class="helper center">Neturite paskyros ? <a class="chip" routerLink="/registracija"> Užsiregistruokite</a></div>
      </form>
    </div>
  </div>
</div>
